<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css\listStyles.css">
    <title>to-do</title>
</head>
<body>
    <div class="box" id="heading">
        <h1>strive for <%= pro %> not for result</h1>
    </div>

    <div class="box">
            <p id="sub"><b>Yout List !!</b></p>
        <% for(let ind = 0;ind<itemsList.length;ind++){ %>
            <div class = "item">
                <input type="checkbox">
                <p><%= itemsList[ind].task %></p>
            </div>
        <% } %>

        <form class="item" method="post" action="/" >
            <input type="text" name="newItem" placeholder="New Item" minlength=2>
            <button type="submit">+</button>
        </form>
    </div>
    
</body>
</html>